<div class="bottom-bar">
  <p>Ⓒ 2021 Coşkun Atak
    <a class="footer-link" href="#">About Us</a>
    <a class="footer-link" href="#">Contact</a>
    <a class="footer-link" href="#">Blog</a>
    <a class="footer-link" href="#">Status</a>
    <a class="footer-link" href="#">Downloads</a>
    <a class="footer-link" href="#">API</a>
    <a class="footer-link" href="#">Help</a>
    <a class="footer-link" href="#">Jobs</a>
    <a class="footer-link" href="#">TOS</a>
    <a class="footer-link" href="#">Privacy</a>
  </p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/styles/bootstrap-5.0.2/js/bootstrap.js"></script>
<script src="/js/app.js" charset="utf-8"></script>
<script src="/js/login.js" charset="utf-8"></script>
<script src="/js/register.js" charset="utf-8"></script>
<script src="/js/feed.js" charset="utf-8"></script>
</body>

</html>
