<div style="background-color: lightgray; border: 1px solid darkgray">
  <h4> Something went wrong... </h4>
  <p> You have entered some invalid information. Please try again. </p>
</div>

<%- include('login'); -%>
