<%- include('partials/header'); -%>

<div class="col-lg-8 f-feed" style="background-color: white; text-align: center;">
  <div class="d-flex justify-content-between">
    <h3>What are you doing?</h3>
    <h2 class="140">140</h2>
  </div>
  <textarea class="form-control" id="tweet" name="tweet" rows="3" maxlength="140" style="resize: none;"></textarea>
  <button type="submit" name="update">update</button>

  <ul class="nav nav-tabs justify-content-between" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Recent</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link disabled" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Replies</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link disabled" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Archieve</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link disabled" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Everyone</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
  </div>

</div>
<div class="col-lg-4 f-green-big">

  <div class="f-green" style="text-align:left">

    <div class="f-green-sec">
      <div class="d-flex justify-content-between">
        <b>Hi,</b>
        <a href="/profile">your profile</a>
      </div>
      <hr class="f-green-hr">
      <div>
        <img class="f-pp" src="\images\egg.png" alt="">
        <p class="f-gUsername" style="display: inline-block;">User</p>
      </div>
    </div><br>

    <div>
      <b>Currently</b>
      <hr class="f-green-hr">
      <p><a class="l-green-id" href="#">@user</a> <span class="l-green-last-tweet">last update</span></p>
    </div><br>

    <div class="f-green-sec">
      <div class="d-flex justify-content-between">
        <b>Device updates</b>
        <a href="/profile">add device</a>
      </div>
      <hr class="f-green-hr">
      <div>
        <input type="radio" name="" value=""><span> phone</span> <br>
        <input type="radio" name="" value=""><span> web only</span>
      </div>
    </div><br>

    <div class="f-green-sec">
      <b>Stats</b>
      <hr class="f-green-hr">
      <div class="d-flex justify-content-between">
        <a href="#">Following</a>
        <span>0</span>
      </div>
      <div class="d-flex justify-content-between">
        <a href="#">Followers</a>
        <span>0</span>
      </div>
      <div class="d-flex justify-content-between">
        <a href="#">Favorites</a>
        <span>0</span>
      </div>
      <div class="d-flex justify-content-between">
        <a href="#">Updates</a>
        <span>0</span>
      </div>
    </div><br>

    <div class="f-green-sec">
      <b>Following</b>
      <hr class="f-green-hr">
      <div class="f-small-pp-box">
        <img src="images\egg.png" alt="" class="f-small-pp">
      </div>
    </div>

  </div>
</div>

<%- include('partials/footer'); -%>
