<%- include('partials/header'); -%>

<div class="row l-row">
  <div class="col-lg-8">

    <div class="login-top d-flex justify-content-between row l-row">

      <div class="col-lg-5 col-md-12">
        <h3 class="l-what-is-twitter"><strong><span class="l-header-wwh">What</span> is Twitter?</strong></h3>
      </div>

      <div class="col-lg-5 col-md-12">
        <form class="d-flex flex-row-reverse justify-content-between l-what-why-how">
          <button type="button" class="btn btn-outline-secondary l-wwh-button l-wwh-disabled">How?</button>
          <button type="button" class="btn btn-outline-secondary l-wwh-button l-wwh-disabled">Why?</button>
          <button type="button" class="btn btn-outline-secondary l-wwh-button l-wwh-enabled">What?</button>
        </form>
      </div>

    </div>

    <div class="login-mid">

      <img src="images/loginLogo.png" class="l-login-image">
      <p class="l-twitter-paragraph">Twitter is a service for friends, family, anc co-workers to communicate and stay connected through the exchange of quick, frequent answers to one simple questions: <strong>What are you doing?</strong></p>

    </div>
    <div class="l-login-bot">
      <form class="" action="/" method="post">
        <button type="button" class="btn btn-success l-get-start">Get Started--Join!</button>
      </form>
    </div>

  </div>
  <div class="col-lg-4 l-login">

    <button type="button" class="btn btn-danger l-watch-a-video" onclick="window.open('https://www.youtube.com/watch?v=1ouUrDZtMGM');"><i class="fas fa-play"></i> Watch a video!</button><br>

    <h4>Please sign in</h4>

    <form class="" action="/" method="post">
      <div class="mb-3">
        <label for="loginName" class="form-label l-formLabel">user name or email adress:</label>
        <textarea class="form-control l-formControl" id="userName" name="loginName" rows="1" style="resize: none"></textarea>
      </div>

      <div class="mb-3">
        <label for="loginPassword" class="form-label l-formLabel">password:</label>
        <textarea class="form-control l-formControl" id="userPassword" name="loginPassword" rows="1" style="resize: none; -webkit-text-security:disc"></textarea>
      </div>

      <input type="checkbox" id="rememberMe" name="loginRemember"> <span>Remember Me</span>
      <button type="submit" class="btn btn-light l-sign-in-btn">Sign In >></button> <br>
    </form>

    <p>Forgor password? <a href="#"><u>Click here.</u></a> </p>

    <div class="l-green-box">
      <p class="l-green-box-text">Already using Twitter by SMS or IM? <a href="#">Click here</a>.</p>
    </div>

  </div>
</div>

<div class="l-comments row l-row">
  <div class="col-4">
    <div class="l-user-comment">
      <p>Twitter is on its way to becoming the next killer app.</p>
    </div>
    <p>TIME Magazine</p>
  </div>
  <div class="col-4">
    <div class="l-user-comment">
      It's almost like ESP
    </div>
    <p>Wired</p>
  </div>
  <div class="col-4">
    <div class="l-user-comment">
      <p>Twitter is the telegraph system of Web 2.0.</p>
    </div>
    <p><strong>Nicholas Carr</strong>, Author and Technologists</p>
  </div>
</div>
</div>

<%- include('partials/footer'); -%>
