<%- include('partials/header'); -%>

<div class="col-lg-9 col-md-12 r-register">
  <div>
    <h3 class="title"><strong>Create a Free Twitter Account</strong></h3>
  </div>

  <div class="r-register-form">
    <form class="" action="/users/register" method="post">
      <div class="mb-3 row r-row">
        <label for="signupUserName" class="col-sm-3 col-form-label">Username:</label>
        <div class="col-sm-9 row r-row">
          <div class="col-sm-6">
            <input type="text" class="form-control r-formcontrol" id="signupUserName" name="user" autocomplete="off">
          </div>
          <div class="col-sm-6">
            <p>Your URL: http://twitter.com/users/<span id="yourUrl"></span></p>
          </div>
        </div>
      </div>

      <div class="mb-3 row r-row">
        <label for="signupPassword" class="col-sm-3 col-form-label">Password: </label>
        <div class="col-sm-9 row r-row">
          <div class="col-sm-6">
            <input type="password" class="form-control r-formcontrol" id="signupPassword" name="password">
          </div>
          <div class="col-sm-6">
            <p>6 characters or more (be tricky!)</p>
          </div>
        </div>
      </div>

      <div class="mb-3 row r-row">
        <label for="signupEmail" class="col-sm-3 col-form-label">Email Address: </label>
        <div class="col-sm-9 row r-row">
          <div class="col-sm-6">
            <input type="email" class="form-control r-formcontrol" id="signupEmail" name="email">
          </div>
          <div class="col-sm-6">
            <p>In case you forgot something</p>
          </div>
        </div>
      </div>

      <div class="mb-3 row r-row">
        <label for="humanness" class="col-sm-3 col-form-label">Humanness: </label>
        <div class="col-sm-9">
          <img src="\images\capcha.png" class="img-fluid capcha" alt="capcha">
        </div>
      </div>

      <div class="mb-3 row r-row">
        <label for="subscribeEmail" class="col-sm-3 col-form-label"> </label>
        <div class="col-sm-9">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="true" id="subscribeEmail" , name="userScoop">
            <label class="form-check-label" for="subscribeEmail">
              I want the inside scoop - please send me email updates!
            </label>
          </div>
        </div>
      </div>

      <div class="mb-3 row r-row">
        <label for="termsOfService" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
          <p>By clicking "I accept" below, you confirm that you are over 13 years of age and accept the <a href="#">Terms of Service</a>.</p>
        </div>
      </div>

      <div class="mb-3 row r-row">
        <label for="createAccount" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
          <button type="submit" class="btn btn-secondary r-btn">I accept, Create my account.</button>
        </div>
      </div>

    </form>
  </div>
</div>
<div class="col-lg-3 col-md-12 r-sign-in">

  <h5>Already a member? <a href="/">Sign In!</a></h5>
  <p>Already use Twitter on your phone? <a href="#">Head over here</a> and we'll get you signed up on the web.</p>

</div>
</div>

<%- include('partials/footer'); -%>
