.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding: 1rem;
}