/* ########## ELEMENT SELECTORS ########## */
body {
  background-color: rgb(154, 228, 232);
  margin: auto 25%;
}

a {
  text-decoration: none;
}

p {
  margin-top: 1%;
}

/* ########## CLASS SELECTORS ########## */
.row {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

/* ##### Main Components ##### */
.navbar {
  margin-bottom: 20px;
  padding: auto 0;
}

.register {
  background-color: white;
}
.arrow-up {
  margin-top: 3%;
  margin-left: 3%;
  width: 15px;
  height: 15px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
}

/* ### Main Components ### */
.main {
  padding: 0;
  border-radius: 15px;
}

.register {
  background-color: white;
  border: solid 0px white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

/* # Register Components # */
/* Title */
.title {
  margin: 2%;
}

/* Form */
.register-form {
  margin: 5% 5%;
}

.form-control {
  border: solid 1px darkgray;
  border-radius: 0;
  border-color: darkgray;
  margin-top: 0;
}

.btn {
  border-color: darkgray;
  border-radius: 0;
  background-color: lightgray;
  color: black;
}

/* # Sign In Components # */
.sign-in {
  background-color: #e0ff92;
  border: 0px solid #87bc44;
  padding: 1%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* # Bottom Bar Components # */
.bottom-bar {
  background-color: white;
  border: solid 1px transparent;
  border-radius: 15px;
  text-align: center;
  margin: 2% auto;
}
