/* ########## ELEMENT SELECTORS ########## */
body {
  background-color: rgb(154, 228, 232);
  margin: auto 25%;
}

a {
  text-decoration: none;
}

/* ########## CLASS SELECTORS ########## */
/* ##### Main Components ##### */
.navbar {
  margin-bottom: 20px;
  padding: auto 0;
}

.main {
  background-color: white;
}
.arrow-up {
  margin-top: 3%;
  margin-left: 3%;
  width: 15px;
  height: 15px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
}

/* ### Navbar Components ### */
.select-lang {
  background-color: white;
  color: black;
}

/* ### Main Components ### */
.row {
  padding: 20px 10px;
}

/* # Main Top # */
.wwh-button {
  border-radius: 0;
  padding: 1% 5%;
  margin-bottom: 3%;
}

.wwh-enabled {
  color: black;
  border-color: black;
  background-color: white
}

.wwh-disabled {
  color: darkgray;
  border-color: darkgray;
  border-style: dashed;
}

/* # Main Mid # */
.login-image {
  width: 100%;
  height: 200px;
  border: solid 2px;
  margin-bottom: 5%;
}

.twitter-paragraph {
  font-size: 1.25rem;
}

/* # Main Bottom # */
.login-bot {
  text-align: center;
  margin-bottom: 1%
}

.get-start {
  background-color: rgb(151, 205, 57);
  font-size: 1.5rem;
  border: solid 2px black;
  border-radius: 0;
  margin: 4%;
  padding: .5% 3%;
}

/* # Comments Section # */
.comments {
  background-color: rgb(175, 239, 241);
  padding: 1% 7%;
}

.user-comment {
  background-color: white;
  position:relative;
  padding: 2% 5% 1%;
  margin: 1rem 0 1em;
}
.user-comment:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20px;
  border-top: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

/* # Login Side Bar # */
.login {
  padding: 0 2.5%;
  font-size: 0.85rem;
  line-height: 1.5rem;
}

.watch-a-video {
  width: 100%;
  background-color: rgb(255, 73, 60);
  border: solid 2px black;
  border-radius: 0;
  margin-bottom: 5%;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1%;
}

.form-control {
  border: solid 1px darkgray;
  border-radius: 0;
  border-color: darkgray;
  margin-top: 0;
}

.form-label {
  margin-bottom: 2px;
}

.what-is-twitter, .what-why-how {
  display: inline-block;
}

.sign-in-btn {
  background-color: lightgray;
  border-color: darkgray;
  border-radius: 0;
  margin-left: 24%;
  margin-bottom: 5%;
  padding: 1% 3%;
}

.green-box {
  background-color: #e0ff92;
  border: 1px solid #87bc44;
  padding: 1% 10% 1%;
  text-align: center;
}
.green-box-text {
  font-size: 0.8rem;
  margin-bottom: 0;
}

/* # Footer # */
.bottom-bar {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 0.025%;
  margin-bottom: 3%;
}
.bottom-bar a {
  font-style: normal;
}

.footer-link {
  margin: 0 3px;
}
