/* ########## COMMON SELECTORS ########## */
body {
  background-color: rgb(154, 228, 232);
  margin: auto 25%;
}

a {
  text-decoration: none;
}

p {
  margin-top: 1%;
}

.navbar {
  margin-bottom: 20px;
  padding: auto 0;;
}

.row {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

.arrow-up {
  margin-top: 3%;
  margin-left: 3%;
  width: 15px;
  height: 15px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
}

/* # Footer # */
.bottom-bar {
  background-color: white;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 0.025%;
  margin: 3% auto;
}
.bottom-bar a {
  font-style: normal;
}

.footer-link {
  margin: 0 3px;
}
