/* ########## COMMON SELECTORS ########## */
body {
  background-color: rgb(154, 228, 232);
  margin: auto 25%;
}

nav {
  background-color: rgb(154, 228, 232);
}

a {
  text-decoration: none;
}

p {
  margin-top: 1%;
}

/* # Navbar # */
.navbar {
  margin-bottom: 20px;
  padding: auto 0;
}

.nav2 {
  padding-right: 0;
  padding-left: 0;
}

.nav-right {
  background-color: white;
  padding: 10px 15px;
  margin-top: 15px;
  height: 60px;
}

#navbarTogglerDemo01 {
  background-color: white;
}

.search {
  border-radius: 0;
  padding: 0 0 0 10px;
}

.search-button {
  border: solid 1px darkgray;
  border-radius: 0;
  border-color: darkgray;
  margin-top: 0;
  background-color: lightgray;
  margin-right: 30px;
}

.nav-link {
  color: blue;
  text-decoration: none;
}

/* # Main # */
.row {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

.arrow-up {
  margin-top: 3%;
  margin-left: 3%;
  width: 15px;
  height: 15px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
}

.hidden-button {
  border: 0;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

/* # Footer # */
.bottom-bar {
  background-color: white;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 0.025%;
  margin: 3% auto;
}
.bottom-bar a {
  font-style: normal;
}

.footer-link {
  margin: 0 3px;
}

.follow-button {
  width: 75px;
  border: solid 1px black;
  color: white;
  background-color: darkgray;
  margin-top: 10px;
}

.stats-link {
  color: blue;
}

.t-reply {
  display: inline-block;
}
