.container {
    align-items: center;
    width: 100%;
}

.btnContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1rem 0;
}

.btn {
    border-radius: 0;
    border: solid 1px black;
    color: white;
    background-color: darkgray;
    width: fit-content;
    padding: 0.25rem .5rem;
}
