.f-title {
  margin-top: 5px;
}

.f-green {
  background-color: #e0ff92;
  border: 1px solid #87bc44;
  padding: 4%;
  text-align: center;
}

.f-green-sec {
  padding: 0;
  margin-bottom: 2%;
}

.f-green-hr {
  margin: 1% 1% 2%;
}

.f-pp {
  width: 40px;
}

.f-small-pp {
  width: 39px;
  margin: 1% 0.5%;
}

.f-tweet-box {
  text-align: left;
  margin: 5px 0 0 0;
  padding: 0;
}

.f-tweet-pp {
  width: 75px;
}

.f-tweet-content{
  vertical-align: top;
  display: inline-block;
  margin: 1%;
}

.f-tweet-text, .f-tweet-author {
  font-size: 1.1rem;
}
.f-tweet-author {
  color: rgb(50, 50, 255);
  cursor: pointer;
}

.f-tweet-date {
  font-size: 0.8rem;
  color: darkgray;
}

.f-tweet-hr {
  margin: 5px 0;
}

.f-unfaved, .f-del, .f-reply {
  color: darkgray;
}

.f-faved {
  color: orange;
}

.f-140 {
  color: darkgray;
}

.f-update {
  border-radius: 0;
  border: solid 1px black;
  color: white;
  background-color: darkgray;
  margin: 20px 0;
  width: fit-content;
}
